body{
background-color: orange;
    padding: 0;
    margin: 0;
}

.row {
    width: 100%;
}

.col-md-6{
    width: 100%;
}

.list{
    padding-left: 20px;
}


.comments{
    margin-top: 10px;
    margin-left: 5px;
    height: 100px;
    width: 99%;
}

.offer{
    /*align-items: normal;*/
    /*display: block;*/
    /*margin-left: 40%;*/
    /*margin-right: auto;*/
    margin-left: 35%;
    float: initial;
    width: 30%;
    text-align: center;
    font-size: smaller;
    text-indent: 0;
    border: thin silver solid;
    padding: 0.5em;
}
