body{
background-color: orange;
    padding: 0;
    margin: 0;
}

.row {
    width: 100%;
}

.centered-form{
margin-top: 60px;
}

.centered-form .panel{
background: rgba(255,165,0, 0.8);
box-shadow: rgba(255,165,0 0.3) 20px 20px 20px;
}